@font-face {
    font-family: ComputerModern;
    src: url(/ComputerModernSerif.ttf);
}
* {
    font-family: ComputerModern;
    text-align: center;
}
html > * {
    margin: auto;
    background-color: var(--back);
}
#allDiv {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
    max-height: 100vh;
    flex-direction: column;
}
body > * {
    width: 100vw;
}
.outlineddiv {
    border-radius: 20px;
    /*box-shadow: 2px 2px 7px #DDDDDD;**/
    border: 1px #888888 solid;
    background-color: white;
    user-select: none;
}
.paddeddiv {
    margin: 20px;
    padding: 20px;
}
input, button {
    border-radius: 5px;
}
#topBar {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
#topBar > * {
    width: 100%;
}
#topLabel {
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
}
#submitVote {
    padding: 20px;
}
#bottomBar > * {
    vertical-align: middle;
}
#bottomBar {
    height: 100%;
    margin-top: 0;
    padding: 20px;
    display: block;
}
#statusDiv {
    padding-left: 20px;
    padding-right: 20px;
}
#statusDiv, #resendVoteButton {
    white-space: nowrap;
}
button, #statusDiv {
    background-color: white;
    border: 1px black solid;
    border-radius: 15px;
    transition: all 0.15s;
}
button, label, p, input {
    font-size: 150%;
}
button:hover:not(:disabled) {
    background-color: #ddd;
}
button:active:not(:disabled) {
    background-color: #bbb;
}
button:disabled {
    background-color: #888;
}
#login {
    position: absolute;
    z-index: 10;
    background-color: white;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
#mainCanvas {
    position: absolute;
    left: 5%;
    top: 5%;
    width: 90vw;
    height: 90vh;
}