@font-face {
    font-family: ComputerModern;
    src: url(/ComputerModernSerif.ttf);
}
* {
    font-family: ComputerModern;
    text-align: center;
}
html > * {
    margin: auto;
}
.outlineddiv, input, button {
    border-radius: 20px;
    /*box-shadow: 2px 2px 7px #DDDDDD;**/
    border: 1px #888888 solid;
    background-color: white;
    user-select: none;
    padding: 3px;
}
button {
    border-radius: 7px;
    transition: 150ms background-color, border-radius;
}
button:hover {
    border-radius: 3px;
    background-color: #ddd;
}
.colorContainer {
    display: inline-block;
    border: gray 1px solid;
    border-radius: 15px;
    padding: 0;
    margin: 10px;
    box-shadow: grey 0 0 5px;
    width: 350px;
    overflow: hidden;
}
.colorBox {
    background-color: red;
    width: 100%;
    height: 100px;
    /* border-radius: 7px; */
}
.cPicker {
    display: inline-block;
    margin: 10px;
}
#previewColorContainer {
    min-height: 200px;
    margin-top: 25px;
}
#previewColorContainer > div {
    width: 200px;
    height: 200px;
    margin: 0;
    display: inline-block;
    border-radius: 0;
}
div.colorContainer > input {
    width: 80%;
    margin: 2px;
}
div:not(.colorContainer) > input {
    width: calc(25% - 4px);
    margin: 2px;
}
