@font-face {
    font-family: ComputerModern;
    src: url(/ComputerModernSerif.ttf);
}
* {
    font-family: ComputerModern;
}
h1, h2, h3, h4, h5, h6 {
    text-align: center;
}
p {
    font-size: 110%;
}
html > * {
    margin: auto;
}
body {
    background-color: powderblue;
}
body > *, document > *:not(body) {
    width: 50vh;
    min-width: 50%;
    max-width: 90%;
    margin: auto    ;
    text-align: center;
}
a > img {
    display: inline-block;
    margin: 10px;
}