/* THIS FILE FOR UNIVERSAL STYLING ONLY */

@font-face {
    font-family: ComputerModern;
    src: url(/ComputerModernSerif.ttf);
}

* {
    font-family: ComputerModern;
    text-align: center;
    /* text-size-adjust: 150%; */
}

html>* {
    margin: auto;
}

table {
    align-self: center;
    display: block;
    border-collapse: separate;
    border-spacing: 0px 8px;
    margin: auto;
    max-width: 90vw;
}

.outlineddiv {
    border-radius: 20px;
    /*box-shadow: 2px 2px 7px #DDDDDD;**/
    border: 1px #888888 solid;
    background-color: white;
    user-select: none;
}

#returnToHome {
    font-size: large;
    position: absolute;
    left: 2vh;
    top: 2vh
}

input[type="submit"],
button {
    margin-top: 15px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

.tagLink {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 4px 12px 4px 12px;
    border-radius: 15px;
    margin: 10px;
    transition: border-color 50ms;
    user-select: none;
    text-decoration: none;
}

.innerTagLink {
    margin: 4px !important;
    padding: 3px 8px 3px 8px !important;
}

.tagLink:hover {
    border-color: black;
}