@font-face {
    font-family: ComputerModern;
    src: url(/ComputerModernSerif.ttf);
}
* {
    font-family: ComputerModern;
    text-align: center;
}
html > * {
    margin: auto;
}
.outlineddiv {
    border-radius: 20px;
    /*box-shadow: 2px 2px 7px #DDDDDD;**/
    border: 1px #888888 solid;
    background-color: white;
    user-select: none;
}
