@font-face {
    font-family: ComputerModern;
    src: url(/ComputerModernSerif.ttf);
}
:root {
    --real-white: rgb(251, 251, 255);
}
* {
    font-family: ComputerModern;
    box-sizing: border-box;
    /*transition: all 150ms linear;**/
}
body {
    overflow: hidden;
    background-color: powderblue;
    display: flex;
    flex-direction: column;
    border: 0;
    height: 100vh;
    max-height: 100vh;
    padding: 0;
    margin: 0;
}
p, i, button:not(.smallTextButton) {
    font-size: 14pt;
}
.outlineddiv {
    border-radius: 20px;
    /*box-shadow: 2px 2px 7px #DDDDDD;**/
    border: 1px #888888 solid;
    background-color: var(--real-white);
    user-select: none;
}
select {
    font-size: 14pt !important;
}
button, select {
    transition: all 150ms linear;
    padding-left: 10px;
    padding-right: 10px;
}
button:not(.incrementButton), select {
    border-radius: 15px;
    /*box-shadow: 2px 2px 7px #DDDDDD;**/
    border: 1px #888888 solid;
    background-color: var(--real-white);
}
button:hover:not(:disabled):not(:has(button:hover)):not(.noHoverEffect), select:hover:not(:disabled) {
    background-color: #dddddd;
    border-radius: 5px;
}
button:disabled, select:disabled {
    background-color: #bbb;
    color: #666;
}
button:active:not(:disabled):not(.noHoverEffect), select:active {
    background-color: #cccccc;
}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}
#topbar {
    width: 100%;
    min-height: 200px;
    border-radius: 0;
    display: flex;
    align-items: stretch;
    overflow-x: auto;
    justify-content: center;
    padding-left: 5px;
    padding-right: 5px;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(3px);
}
#topbar > div {
    min-height: 150px !important;
}
#numberinfocontainer {
    position: absolute;
    right: 0;
    width: 15%;
    height: 100%;
}
#bottomarea {
    height: 100%;
    border: 1px #c0c0c0 solid;
    background-color: transparent;
    overflow-y: auto;
}
#leftbottomarea, #rightbottomarea {
    width: 100%;
    height: 100%;
    border: 0;
    background-color: transparent;
}
#leftbottomarea {
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 0;
}
#rightbottomarea {
    z-index: 5;
    padding-left:  20px;
    padding-right: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    transition: all 150ms linear;
    padding: 20px;
}
#passedMotionCountryChooser, #passedMotionDetails {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}
#passedMotionCountryChooser {
    width: 40%;
    overflow-y: auto;
    height: 100%;
    max-height: 100%;
    display: flex;
    align-items: stretch;
    overflow: hidden;
    flex-direction: column;
}
#actualPassedMotionCountryChooser {
    width: 100%;
    overflow-y: auto !important;
    padding: 20px;
}
#passedMotionDetails {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    height: 100%;
    padding-bottom: 20px;
    overflow-y: auto;
    padding: 20px;
    backdrop-filter: blur(4px);
    background-color: rgba(255, 255, 255, 0.75);
}
#passedMotionDetails > * {
    width: 100%;
    text-align: center;
}
#peopleeditcontainer {
    padding: 10px;
    padding-left: 0;
    padding-right: 0;
}
#peopleedit {
    padding: 15px;
    height: 100%;
    display: flex;
    justify-content: center;
}
#peopleedit > * {
    padding-left: 10px;
    padding-right: 10px;
}
#leftDelegateBox {
    height: 100%;
    text-align: center;
    display: grid;
    place-items: center;
}
.middleLine {
    background-color: #555;
    width: 1px !important;
    height: 100% !important;
    padding: 0 !important;
    margin: 5px;
}
#rightDelegateBox {
    height: 100%;
    text-align: left;
    vertical-align: middle;
    align-items: center;
    display: grid;
    place-items: center;
    white-space: nowrap;
}
#exitCurrentMotionContainer {
    padding: 10px;
}
#newmotions, #exitCurrentMotion {
    margin: 10px;
    padding: 10px;
    text-align: center;
}
#newmotions {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}
#newmotionsinner {
    height: 100%;
    align-items: center;
    display: flex;
    overflow: auto;
}
#newmotionsinnerinner {
    width: 100%;
}
#newmotionsinnerinner > * {
    display: inline;
    min-width: calc(30% - 10px);
    justify-content: start;
    margin-bottom: 5px;
    vertical-align: middle;
    padding: 5px;
    display: inline-block;
    transition: all 150ms linear;
    font-size: 110%;
}
#newmotionsinnerinner > div:hover {
    background-color: #ddd;
    border-radius: 5px;
}
#motiondisplays {
    padding: 10px;
    border: 0;
    overflow-y: auto;
}
.innermotiondisplay {
    width: 100%;
    min-height: 150px;
    padding: 15px;
    padding-left: 35px;
    padding-right: 35px;
    background-color: rgba(255, 255, 255, 0.75);
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    backdrop-filter: blur(3px);
}
.innermotiondisplay > * {
    width: 50%;
    margin:auto;
}
#popupPage {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #0006;
    z-index: 15;

    display: block;
}
#popupPage > div.outlineddiv {
    position: absolute;
    width: 70%;
    height: 70%;
    left: 15%;
    top: 15%;
    box-shadow: 2px 2px 7px #777;
    overflow: auto;
    font-size: 150%;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.75);
}
#popupPage > div.outlineddiv:not(#quickStartPopup) {
    display: none;
}
#quickStartPopup {
    display: block;
    /* height: 60% !important; */
}
#popupPage > div.outlineddiv:not(#editDelegateList) {
    text-align: center;
    place-items: center;
}
#popupPage > div.largePopup {
    /* top: 20%;
    height: 60%; */
}
#exitButtons {
    position: absolute;
    width: 50%;
    left: 25%;
    top: 5%;
    display: block !important;
    text-align: center;
}
#exitButtons > * {
    padding: 10px;
    margin-left: 10px;
    display: inline;
}
p {
    margin: 0;
}
input {
    border-radius: 0;
    border: solid #888 1px;
    color: black;
}
.incrementButton {
    line-height: inherit;
    border-radius: 0;
    width: 25px;
    border: solid #888 1px;
    background-color: var(--real-white);
    padding: 0;
}
.alignchildrenspan {
    display: inline-grid;
    grid-auto-flow: column;
}
#editDelegateList {
    text-align: left;
    display: flex;
    padding: 15px !important;
    align-items: stretch;
    overflow: hidden !important;
    flex-direction: column;
}
.countryListOne {
    transition: all 150ms linear;
    font-size: 14pt;
    text-align: center;
    margin: 0;
    display: flex;
    flex-direction: row;
    overflow: auto;
}
.countryListInner {
    width: 60%;
    padding: 5px;
    border-radius: 7px;
    margin: 0;
    margin-left: 20% !important;
    transition: all 150ms linear;
    display: flex;
}
.countryListInner:hover:not(:has(button:hover)) { /* Shade presense node only when the partent countryListInner has the mouse and NOT a child button */
    background-color: #ddd;
}
.countryListInner > p {
    width: 100%;
}
#innerDelegateList {
    width: 100%;
    height: 85%;
}
.searchBarInput {
    width: 100%;
    z-index: 5;
    padding: 10px;
}
input[type="text"], input[type="password"], input[type="number"], select {
    font-size: 100%;
    border-radius: 15px;
    text-align: center;
    padding: 3px;
    transition: all 150ms linear;
}
input[type="text"]:focus-visible, input[type="number"]:focus-visible {
    border-radius: 5px;
}
#newModTopic {
    text-align: left;
}
#attendanceListOfCountries > * {
    display: none;
}
#attendanceAlert {
    display: block;
}
.largeTextInput {
    width: 100px;
}
.zoomInALittle {
    font-size: 18pt;
}
#oneLargeTimer {
    font-size: 132pt;
    width: 90%;
}
#chosenCountriesForTimer {
    padding: 20px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: rgba(255, 255, 255, 0.5);
}
#chosenCountriesForTimer > * {
    padding: 7px;
}
#chosenCountriesForTimer > *:not(:last-child), #actualPassedMotionCountryChooser > *:not(:last-child) {
    margin-bottom: 10px;
}
.marginizechildren {
    display: flex;
}
.marginizechildren > * {
    width: 100%;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
}
.bottomMarginChildren > * {
    margin-bottom: 5px;
}
#chosenCountriesContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 100%;
}
#numberOfAddedCountriesLabel {
    text-align: center;
}
#chosenCountriesForTimer {
    height: 100%;
}
#alertContainer {
    display: none;
    flex-direction: row;
    position: absolute;
    top: 5%;
    left: 10%;
    max-width: 80%;
    min-width: 80%;
    z-index: 1000;
    padding: 20px;
    box-shadow: 2px 2px 20px #888;
    background-color: color-mix(in srgb, powderblue 20%, var(--real-white) 80%);
}
#alertContainer > * {
    padding: 5px;
}
#UNLogo {
    display: inline-block;
    vertical-align: middle;
    align-self: center;
    border-radius: 10%;
}
#timerControlsContainer {
    display: flex;
    justify-content: center;
}
#timerControlsContainer > * {
    width: 100%;
    height: 100%;
    margin: 10px;
    box-shadow: 0px 0px 5px powderblue;
    border-radius: 30px;
    font-size: 18pt;
    padding: 10px;
    max-width: 25%;
}
#timerControlsContainer > *:hover {
    border-radius: 5px;
}
#rollCallVoteResults {
    background-color: #ddd;
    height: 40px;
    border-radius: 20px;
    display: block;
    overflow: hidden;
    position: relative;
    line-height: 40px;
    margin: 20px !important;
    margin-top: 0 !important;
}
#yeaRollCallSegment {
    position: absolute;
    left: 0;
    top: 0;
    background-color: #0f0;
    width: 0;
    height: 100%;
    overflow: visible;
    text-align: center;
    padding-left: 10px;
    transition: 150ms ease-in-out all;
}
#nayRollCallSegment {
    position: absolute;
    background-color: rgb(255, 119, 119);
    right: 0;
    top: 0;
    width: 0;
    height: 100%;
    overflow: visible;
    text-align: center;
    transition: 150ms ease-in-out all;
}
#abstainRollCallSegment {
    position: absolute;
    background-color: #ddd;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: visible;
    text-align: center;
    transition: 150ms ease-in-out all;
}
#rollCallButtonContainer {
    display: flex;
    gap: 10px;
    flex-direction: row;
}
#rollCallButtonContainer > * {
    width: 100%;
    height: 100px;
}
#rollCallBottomArea {
    display: inline-flex;
    width: 100%;
    overflow: auto;
    margin-top: 10px !important;
    gap: 10px;
    max-height: 60%;
}
#rollCallBottomArea > * {
    width: 100%;
}
#rollCallPastChoices {
    padding: 20px;
    overflow-y: auto !important;
    overflow-x: hidden !important;
    margin: 15px;
    margin-top: 0;
}
#rollCallPastChoices > * {
    border-radius: 15px;
    width: 100%;
    border: 1px solid #888;
    display: flex;
    padding: 15px;
    vertical-align: middle;
    margin-bottom: 20px;
    transition: all linear 0.15s;
}
.expandAllTheWay {
    width: 100%;
}
#rollCallVotePopup {
    overflow: hidden !important;
}
#rollCallVotePopup > * {
    margin: 0;
}
#allAbsentButton:active {
    background-color: red;
}
#allPresentButton:active {
    background-color: #00ff00;
}
#allPrVButton:active {
    background-color: powderblue;
}
.entireLineHeight {
    line-height: 100%;
    vertical-align: middle;
}
#cloudStuffInner {
    display: grid;
    place-items: center;
    padding: 10px;
    margin: 10px;
    overflow-y: auto;
}
#legalStuffEwww {
    padding: 30px;
    padding-left: 10%;
    padding-right: 10%;
}
#floatBottomRight > * {
    font-size: 125%;
}
#floatBottomRight { /* SIKE BOTTOM LEFT NOW MOTHERFUCKERS */
    position: absolute;
    left: 3vh;
    bottom: 3vh;
}
#floatBottomRight > * {
    padding: 10px;
    margin: 10px;
    box-shadow: 0px 0px 7px #777;
}
#committeeNameContainer {
    text-align: center;
    max-width: 100vw;
    padding: 5px;
    background-color: var(--real-white);
    display: flex;
}
#committeeName {
    margin: 0;
    text-align: center;
    display: inline;
    width: 100%;
    font-size: 200%;
    background-color: color-mix(in srgb, powderblue 20%, white 80%);
}
#topRealClock {
    font-size: 200%;
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
}
#impromptuTimerLabel, #oneLargeTimer {
    font-size: 108pt;
    border: 1px solid transparent;
    transition: 150ms;
    background-color: transparent;
}
#impromptuTimerLabel:not(p):hover, #oneLargeTimer:not(p):hover:not(:disabled) {
    border: 1px solid black;
    background-color: var(--real-white);
}
#impromptuTimerLabel:not(p):active, #oneLargeTimer:not(p):active:not(:disabled) {
    border: 1px solid black;
    border-radius: 15px;
    background-color: var(--real-white);
}
#impromptuTimer {
    display: flex;
    flex-direction: row;
    padding: 20px;
}
#impromptuTimer > * {
    width:  100%;
    min-height: 0;
}
#backgroundLogoContainer {
    position: absolute;
    left: 10%;
    top: calc(50vh - 30vw);
    width: 80%;
    max-width: 80vw;
    z-index: -10;
    opacity: 0.2;
}
#backgroundLogo {
    width: 100%;
}
#quickStartPopup > p {
    font-size: 100%;
}
#delegateListSearchBottomContainer {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}
.searchbarContainer {
    display: flex;
    align-items: stretch;
    gap: 10px;
    padding: 15px;
}
#newMotionLabel {
    margin-bottom: 10px;
}
#newMotionLabel > * {
    margin: 0;
}
#jccPassPaperContainer {
    display: none;
}
#mirrorSecondStep {
    display: none;
}
#rollCallVotePopup {
    position: absolute !important;
    left: 0 !important;
    top: 0 !important;
    width: 100vw !important;
    height: 100vh !important;
    border-radius: 0 !important;
    border: 0 !important;
}
.keyboardShortcut {
    display: none;
}
#saveLoadInput {
    display: block;
    width: 90%;
    margin-left: 5%;
}
#exitPopup {
    display: none;
}
#quickStartSplit {
    display: flex;
}
#quickStartSplit > * {
    width: 100%;
    padding: 15px;
}
#presetSelect {
    width: 90%;
}
#quickStartSplitLeft {
    border-right: 1px black solid;
}
#attendanceText {
    display: flex;
}
#isNonVotingIncluded {
    display: none;
}
#isNonVotingIncluded:not(:hover) {
    border: 1px solid transparent;
}
#numberOfVotingMembersContainer {
    display: none;
}
#rollCallCurrentChoice {
    padding: 20px;
}
#innerAttendanceList {
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    width: 100%;
}
#attendanceMiddleLine {
    border-left: 1px solid #000;
    padding-top: 20px;
    padding-bottom: 20px;
}
#innerAttendanceList > div {
    width: 100%;
    padding: 10px;
    margin: 10px;
    border: #bbb 1px solid;
    border-radius: 25px;
    align-items: start;
    max-height: 20%;
    height: 20%;
    overflow-y: auto;
}
#attendanceBigButtonContainer {
    display: flex;
    flex-direction: row;
}
#attendanceBigButtonContainer > * {
    width: 100%;
    height: 100px;
    margin: 10px;
}
.expandToFlexWidth {
    width: 100%;
}
.modIdP {
    width: 0 !important;
}
.countryFlag, .largeCountryFlag {
    display: inline;
    border-radius: 50%;
    padding: 0;
    object-fit: cover;
    background-position: center center;
    margin-left: 10px; /* Don't worry about it */
}
.countryFlag {
    width: 45px;
    height: 45px;
}
.largeCountryFlag {
    width: 100px;
    height: 100px;
}
.delegatePresenseOuter {
    transition: all 150ms linear;
    font-size: 14pt;
    text-align: center;
    margin: 0;
}
.countryListOne > p {
    line-height: 45px;
    vertical-align: middle;
}
#rollCallNameFlag {
    display: flex;
    flex-direction: row;
    margin: 15px;
}
#rollCallFullName {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 100px;
    vertical-align: middle;
    margin: 0;
}
.basicAttendanceNode {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.basicAttendanceNode > * {
    width: 33%;
}
.basicAttendanceNode > div > img {
    margin: auto;
}
.presenceButton {
    white-space: nowrap;
}
#newDelegateSubmit {
    border-radius: 0 15px 15px 0;
}
#newDelegateSubmit:hover {
    border-radius: 0 5px 5px 0;
}
#newDelegateInput {
    border-radius: 15px 0 0 15px;
    border-right: 0;
}
#newDelegateInput:focus-visible {
    border-radius: 5px 0 0 5px;
}
.presenseP {
    padding: 3px;
}
.attendanceText {
    white-space: nowrap;
}
.customMotionNameInput {
    font-weight: bold;
    padding: 8px;
    margin: 9px;
    font-size: 32px !important;
    border-color: transparent !important;
    transition: border-color 150ms;
    color: black !important;
    background-color: transparent;
}
.customMotionNameInput:hover:not(:disabled), .customMotionNameInput:focus-visible:not(:disabled), .customMotionNameInput:active:not(:disabled) {
    background-color: var(--real-white);
    border-color: #888888 !important;
}
.modIdButton {
    width: initial !important;
}
.colorMePlease {
    padding: 8px;
    border-radius: 12px;
}
#attendanceList {
    flex-direction: column;
    height: 100%;
    width: 100%;
}
#rightAttendance {
    height: calc(100% - 25px) !important;
    width: 100% !important;
    max-height: none !important;
}
#crisisShownNotification {
    display: none;
}
#changeMirrorButton {
    display: none;
}
#mirrorSetupPopup {
    padding: 20px;
}
#jccSendCrisisInput {
    width: 50%;
}
#massImportDelegates {
    display: inline-block;
}
#massImportDelegatesSubmit {
    display: block;
    padding: 5px;
    margin: auto;
    margin-top: 15px;
}
#massImportDelegatesArea {
    width: 50%;
    height: 50%;
    border-radius: 8px;
    border: 1px solid #888;
}