@font-face {
    font-family: ComputerModern;
    src: url(/ComputerModernSerif.ttf);
}
* {
    font-family: ComputerModern;
    box-sizing: border-box;
}
body {
    background-color: white;
}
p, h1, h2, h3, h4, h5, h6 {
    text-decoration: none;
}
.outlineddiv {
    border-radius: 20px;
    border: 1px #888888 solid;
    background-color: white;
    user-select: none;
}
.subtopicchip {
    width: calc(25% - 20px);
    background-color: powderblue;
    border: 2px rgb(100,100,100) solid;
    border-radius: 25px;
    align-items: center;
    display: inline-flex;
    flex-direction: column;
    vertical-align: middle;

    padding: 20px;

    color: black;
    text-decoration: none;

    margin: 10px;
    text-align: center;
}
#reading {
    width: 120vh;
    max-width: 90%;
    margin: auto;
    top: 0;
    padding-top: 5vh;
}
a {
    text-decoration: none;
}
.subtopicchip > * {
    text-decoration: none;
}
.subtopicchip > h3 {
    font-size: 150%;
}
.floatRightImage {
    float: right;
    width: 30%;
    background-color: powderblue;
    border: 1px gray solid;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    clear: right;
    text-align: center;
}
.floatRightImage, .floatRightImage > * {
    color: black;
}
.floatRightImage > p, .floatRightImage > a {
    text-align: center;
}
.floatRightImage > img {
    width: 100%;
}
#imageZoomInPopup {
    position: fixed;
    left: 0;
    top: -0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    line-height: 100%;
}
#imageZoomInPopup > * {
    opacity: 1;
}
#innerImageZoom {
    display: block;
    min-width: 500px;
    min-height: 500px;

    max-width:  95%;
    max-height: 95%;

    margin: auto;
    padding: 30px;
    text-align: center;

    overflow: scroll;
}
#imageZoomImage {
    max-width: 90vh;
    max-height: 90vh;
}
.knowledgeNotice {
    background-color: powderblue;
    padding: 20px;
}
#loadingOverlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 10;
    background-color: white;
}
#loadingOverlay > * {
    display: inline;
}
#pageSubtitleLabel {
    display: none;
}
#pageTitleLabel {
    text-align: center;
}
#randomEquationLink {
    color: black;
    background-color: powderblue;
    border: 1px solid black;
    border-radius: 20px;
    float: right;
    width: 30%;
    text-align: center;
    padding: 10px;
    margin: 15px;
    transition: border-radius 150ms;
}
#randomEquationLink:hover {
    border-radius: 10px;
}
#searchBar {
    padding: 0;
    text-align: center;
    width: 50%;
    display: inline;
    padding: 4px;
}
#searchBarInput {
    width: 100%;
}
#parentLink {
    display: inline;
    padding: 0;
    margin: 0;
    width: 25%;
    text-align: center;
}
#header {
    display: flex;
    width: 100vw;
    max-width: 100vw;
    box-sizing: border-box;
    /* position: fixed; */
}
#header > * {
    box-sizing: border-box;
}
#results {
    padding: 0;
    text-align: center;
    width: 100%;
    display: none;
    padding: 4px;
    background-color: white;
    border: 1px solid black;
    border-top: none;
    border-radius: 0 0 15px 15px;
    padding-bottom: 10px;
    z-index: 1000;
}
.resultClass {
    min-height: 25px;
    border: 1px solid gray;
    margin: 4px;
    padding: 0;
    border-radius: 8px;
    display: flex;
    color: black;
    background-color: white;
    transition: border-radius, background-color 150ms;
}
.resultClass:hover {
    background-color: #ddd;
    border-radius: 4px;
}
.resultClass > p {
    width: 50%;
}